body{
    background-color: #f2f4f9;
    font-family: sans-serif;
    color: #777777;


}

.ContentBar{
    background-color: #FFFFFF;
    position: fixed;
    width: 45vh;
    height: 100ch;
    z-index: 2;

}

.Content{
    display: inline-block;
    position: relative;

}

.QuestionDisplay{
    position: Absolute;
    width: 8.3in;
    left:25%;
    margin-left: 50px;
    padding-bottom: 200px;
    background-color: #FFFFFF;
}

.section_Question{
    padding-top: 25px;
}

.header_section{
    position: fixed;
    width: 100%;
    height: 100px;
    left: 45vh;
    background-color: #FFFFFF;
    color: #777777;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Question_Answer .skip {
    display: none; /* Hide the button by default */
  }
  
  .Question_Answer:hover .skip {
    display: inline-block; /* Display the button when hovering over the Question_Answer */
    border: none;
    background-color: rgb(114, 171, 255);
    border-radius: 50px;
    font-size: small;
    font-weight: bold;
    padding: 10px;
    margin-right: 15px;
    cursor: pointer;
    color: #FFFFFF;
  }


.header{
    width: 70rem;
    height: 3.5rem;
    background-color: #f2f4f9;
    border-radius: 25px;
    position: absolute;
    margin-top: 25px;
    display: inline-block;
}


.section_title{
    margin: 8px 0px 50px 50px;
    position: absolute;
    top: 0%;
    font-size: xx-large;
    font-weight: bold;
}


.toolbar {
    position: absolute;
    right: 10px; /* Adjust the right value as needed to control the distance from the right edge */
    top: 0; /* You can adjust the top value to control the vertical position */
}


.Download{
    border: none;
    background-color: rgb(114, 171, 255);
    border-radius: 50px;
    font-size: small;
    font-weight: bold;
    padding: 10px;
    margin-right: 25px;
    cursor: pointer;
    color: #FFFFFF;
    margin: 8px 25px 0px 0px;

}

.Download:hover{
    transform: scale(1.05);
}

.Title{
    position: relative;
    font-weight: bolder;
    font-size: xx-large;
    margin-left: 45px;
    margin-top: 30px;
    color: #777777;
}

.markAsDone{
    display: none;
}

.markAsDone-label {
    background-image: url('./Assets/done.svg'); /* Replace with your image URL */
    border-radius: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 25px; 
    height: 25px;
    cursor: pointer;
    display: inline-block;
    margin: 8px 0px 0px 10px;
}



/* Style for the file input (hidden) */
.imageInput{
    display: none; /* Hide the default file input */
    }

/* Style for the custom button label */
.imageInput-label {
    background-image: url('./Assets/image.png'); /* Replace with your image URL */
    background-size: cover;
    background-repeat: no-repeat;
    width: 35px; 
    height: 35px;
    cursor: pointer;
    display: inline-block;
    margin: 8px 25px 0px 0px;
}

.NavBTN{
    border: none;
    background-color: white;
    margin-top: 10px;
    font-size: large;
    color: #777777;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;

}

.NavBTN:hover{
    border: none;
    background-color: #e8e8e8;
    margin-top: 10px;
    font-size: large;
    color: black;
    padding: 10px;
    border-radius: 5px;
}




.Question_Answer{
    padding: 25px;
    
}

.Question_Answer:hover{
    border: none;
    background-color: #FFFFFF;
    color: black;
    padding-left: 35px;
    border-radius: 5px;
}

.Question_Answer:hover .answer{
    background-color: #FFFFFF;
}

.answer{
    border: none;
    background-color: #FFFFFF;
    font-size: large;
    margin: 0px 0px 25px 0px;
    width: 90vh;
    outline: none;
    resize:none;
    font-family: sans-serif;
}

.answer:focus {
    outline: none;
}

.answer::-webkit-scrollbar{
    width: 0px;
}

