body{
    background-color: #f3f4f6;
    font-family: sans-serif;

}

.ContentBar{
    background-color: #FFFFFF;
    position: fixed;
    width: 45vh;
    height: 100ch;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 2;

}

.Content{
    display: inline-block;
    position: relative;
}

.QuestionDisplay{
    position: Absolute;
    left:46vh;
    margin-left: 50px;
}

.section_Question{
    padding-top: 75px;

}

.header{
    position: fixed;

}

.section_title{
    margin: 50px 10px 50px 0px;
    position: relative;
}

.Title{
    position: relative;
    font-weight: bolder;
    font-size: xx-large;
    margin-left: 45px;
    margin-top: 30px;
    color: #777777;
}



/* Style for the file input (hidden) */
.imageInput{
    display: none; /* Hide the default file input */
    }

    /* Style for the custom button label */
    .imageInput-label {
    background-image: url('./Assets/image.png'); /* Replace with your image URL */
    background-size: cover;
    background-repeat: no-repeat;
    width: 35px; 
    position: absolute;
    height: 35px;
    cursor: pointer;
    display: inline-block;
    text-indent: -9999px; /* Hide the text content of the label */
    margin-top: 9px;
    margin-left: 10px;

}

.NavBTN{
    border: none;
    background-color: white;
    margin-top: 10px;
    font-size: large;
    color: #777777;
    padding: 10px;
    border-radius: 5px;
}

.NavBTN:hover{
    border: none;
    background-color: #e8e8e8;
    margin-top: 10px;
    font-size: large;
    color: black;
    padding: 10px;
    border-radius: 5px;
}

.Question{
    padding: 0px 0px 300px 25px;
}

.Question:hover{
    border: none;
    background-color: #f3f4f6;
    color: black;
    padding-left: 35px;
    border-radius: 5px;
}


.Question_Answer{
    padding: 25px;
}

.Question_Answer:hover{
    border: none;
    background-color: #f3f4f6;
    color: black;
    padding-left: 35px;
    border-radius: 5px;
}

.Question_Answer:hover .answer{
    background-color: #f3f4f6;
}

.answer{
    border: none;
    background-color:#f3f4f6 ;
    font-size: large;
    margin: 0px 0px 25px 0px;
    width: 90vh;
    outline: none;
    resize:none;
    font-family: sans-serif;
}

.answer:focus {
    outline: none;
}

.answer::-webkit-scrollbar{
    width: 0px;
}

