body{
    background-color: #f3f4f6;
    font-family: sans-serif;

}

.ContentBar{
    background-color: #FFFFFF;
    position: fixed;
    width: 45vh;
    height: 100ch;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.Content{
    display: inline-block;
    position: relative;
}

.QuestionDisplay{
    position: Absolute;
    left:46vh;
    margin-left: 50px;
}

.section_title{
    margin: 50px 10px 50px 0px;
}

.Title{
    position: relative;
    font-weight: bolder;
    font-size: xx-large;
    margin-left: 45px;
    margin-top: 30px;
    color: #777777;
}

.InputContainer{
    position: fixed;
    border-radius: 50px;
    width: 100vh;
    height: 60px;
    bottom: 0;
    left: 65vh;
    margin-bottom: 25px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 2;
}

.InputBox{
    position: relative;
    border-radius: 50px;
    border: none;
    width: 80vh;
    height: 59px;
    background-color: #FFFFFF;
    margin-left: 30px;
}

.InputBox:focus {
    outline: none;
}

.SubmitBtn{
    background-image: url('./Assets/send.png'); /* Replace 'your-svg-image.svg' with the path to your SVG image */
    background-size: contain; /* Adjust this property to control how the SVG image fits within the button */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    width: 30px; /* Adjust the width and height to fit your button size */
    position: absolute;
    height: 30px;
    border: none; /* Remove the default button border */
    cursor: pointer; /* Change the cursor to a pointer on hover for better user experience */
    margin-top: 13px;
    margin-left: 60px;
}

/* Style for the file input (hidden) */
.imageInput{
    display: none; /* Hide the default file input */
    }

    /* Style for the custom button label */
    .imageInput-label {
    background-image: url('./Assets/image.png'); /* Replace with your image URL */
    background-size: cover;
    background-repeat: no-repeat;
    width: 35px; 
    position: absolute;
    height: 35px;
    cursor: pointer;
    display: inline-block;
    text-indent: -9999px; /* Hide the text content of the label */
    margin-top: 9px;
    margin-left: 10px;

}

.NavBTN{
    border: none;
    background-color: white;
    margin-top: 10px;
    font-size: large;
    color: #777777;
    padding: 10px;
    border-radius: 5px;
}

.NavBTN:hover{
    border: none;
    background-color: #e8e8e8;
    margin-top: 10px;
    font-size: large;
    color: black;
    padding: 10px;
    border-radius: 5px;
}